/* Theme 01 — Mildness (Navy & Lavender) */
.theme-theme01 {
  --primary:        #4B6B99;
  --primary-hover:  #5d7697;
  --primary-light:  #d6e1f1;
  --secondary:      #BC97C9;
  --secondary-light:#f2dcfa;
}
